 
       
      </div>
      <footer class="footer">
        <div><a href="https://coreui.io">CoreUI </a><a href="https://a2zithub.org">Bootstrap Admin Template</a> © 2024 GSK Labs.</div>
        <div class="ms-auto">Develop by&nbsp;<a href="https://a2zithub.org">Mr.Ganesh Suresh Kadam</a></div>
      </footer>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="/admin/vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="/admin/vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script>
    </script>

  </body>
</html>