<form action="/admin/save_transfer_to_business" method="post">



<input type="hidden" name="order_id"  value="<%=order_id%>">
Enter Transaction No:
<input type="text" name="transfer_no" >
<br>
<button>Transfer Now</button>

</form> 