<%-include("../user/navbar.ejs")%>
<br><br><br><br>
<style>
    .form-control
    {
        height: 45px;
    }
</style>
<form action="/business/login_business_process" method="post">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="shadow border p-3">
                <h3 class="text-center">Login Your Business</h3>
                
                Business Email:
                <input type="email" name="business_email" id="" class="form-control"><br>
                Business Password:
                <input type="password" name="business_password" id="" class="form-control"><br>
                <center><button class="btn btn-primary ">Login Now</button></center>
            </div>
        </div>
    </div>
</div>
</form>
<br><br><br><br>
<%-include("../user/footer.ejs")%>
